*{
	margin:0;
	padding: 0;
	font-family:Lato;
	font-weight:300;
}

.bg{	
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-image: url("beach.jpg");
	height:650px;
	width:100%;
	background-attachment:fixed;

}

.content{

	-webkit-box-shadow: 0px -3px 10px 0px #666; 
	position:relative;
	z-index:2;
	background:white;
	padding-bottom:100px;
	margin-bottom:160px;
}

.content h1{
	text-align:center;
	font-family:Lato;
	font-weight:100;
	font-size:10vh;
	padding-top:3vh;
}

hr{
	border-color: #dddddd;
	margin:10vh 15vw;
}

.content h4{
	padding: 10vh 10vh;
	font-family: Lato;
	font-weight:300;
	font-size: 3vh;
}

/*
----------------------
PERISCOPE EFFECT
----------------------*/

.window{

	margin-top: 7vh;
	margin-bottom: 10vh;

	position:relative;
	left: calc(50% - 250px);
	
	border-radius:50%;
	height:500px;
	width:500px;
	background-color: #EFF5F3;

	background-image:url('model.jpg');
	background-attachment: fixed;
	background-position:center 350px;
	background-repeat:repeat-x;

	
}

.mask{
	position:absolute;
	width:500px;
	height:500px;
	background-color:rgba(0,0,0,0.4);
	border-radius:50%;

}


.mask h1{
	color:white;
	font-size: 2vw;
	text-align:center;
	margin-top:250px;
}

.mask h2{
	color:white;
	text-align:center;
	font-family:Lato;
	font-weight:100;
	font-size:2vw;
	display:block;

	border:1px solid white;
	margin:0 120px;
	padding:10px 20px;
}


/*
--------------
TALKS
--------------*/

.talks{
	margin:0 200px;
	display:flex;
	justify-content:center;
	text-align:center;
}

.talk{
	margin:0 20px;
	width: 20%;
	padding:20px 10px 20px 10px;
	border:1px solid #bbb;
	background:white;
	position:relative;
}

.talk img{
	width: 80%;
}

.talks a{
	text-decoration: none;
	color:black;
	padding:8px 20px;
	border:2px solid #aaa;
}

.talks h3{
	font-size:2.5vh;
}

/*.talk:nth-child(1){
	transform:translate(-200px, 20px);
}

.talk:nth-child(2){
	z-index:2;
}

.talk:nth-child(3){
	transform:translate(-100px, 20px);
}
*/






.footer{
	background:black;
	padding-top: 8vh;
	padding-bottom: 8vh;
	text-align:center;
	list-style:none;
	font-family: Lato;
	font-weight:300;
	font-size: 3vh;
	position: fixed;
	bottom: 0;
	width:100%;
}

.footer li{
	display:inline;
	color: white;
	font-weight:100;
	padding:0vw 2vw;
	transition: all .5s ease-out;
}

.footer li:hover{
	cursor:pointer;
	padding:0px 10px;
	border-bottom: 1px solid #aaa;

	transition: all .5s ease-out;
}


.tex{
	height:1000px;
}

